.container{
    width: 70%;
}

.persons-grid {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.person{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-person{
    border-radius: 15px;
    z-index: 2;
    height:12rem;
    width: 10rem;
    object-fit: cover;
    object-position: top;
    transition: transform .2s linear;
}
.image-person:hover{
    transform: scale(1.5);
}

.name-person{
    display: flex;
    margin-top:2px;
    text-align: center;
    font-family:Rock Salt, cursive;
    font-size:0.8em;
    line-height:25px;
}
.image-cross{
    position:absolute;
    z-index:1;
    top:0;
    border-radius: 15px;
    height:11rem;
    width: 10rem;
    object-fit: cover;
    object-position: top;
    transition: all 1s;
}

.desactivated{
    z-index:3;
    transform: rotate(90deg);
    display: flex;
    opacity: 70%;
}
.image-cross > path {
    color:rgb(136, 38, 38);
}
@media screen and (max-width:1100px){
    .persons-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .image-person{
        height:12rem;
        width: 11rem;
    }
}

@media screen and (max-width:960px){
    .persons-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
}

@media screen and (max-width:720px){
    .persons-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
}
